
/* Contact Page CSS */

.bio-display-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center space-around;
  flex-wrap: wrap;
  min-width: 60%;
  margin: 50px 5px;
}

.bio-container {
  display: flex;
  width: 100%;
  height: 21vw;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: -0 0 10px #abb400;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  float: left;
  height: 21vw;
  width: 40%;
}

.right-container {
  box-shadow: -0 0 10px #abb400;
  transform: rotate(10deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 21vw;
  background: #fff;
  width: 50%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 70%;
}

.image-content img {
  width: 60%;
  border-radius: 280%;
}

.right-content {
  flex-direction: column;
  max-width: 70%;
}

@media only screen and (max-width: 900px) {
  .right-container p {
    display: none;
  }
}
