/* Set the global styling for all of the app */
html {
  width: 95%;
  margin: auto;
  padding-top: 10px;
  cursor:url(../images/yad_cursor.png), auto;
}

/* Set the styling for the container for the main body of content on each component */
.main-container {
  border-radius: 80px;
  box-shadow: inset 5px 55px 50px -50px #000ab4, -5px 55px 50px -50px #000ab4;
  padding-bottom: 2px;
  min-height: 90vh;
}

/* Style the logo on the top of the page */
.logo {
  filter: drop-shadow(-2px -2px 0px black);
}

.body-container {
  text-align: center;
}

.body-title {
  
}

.body-intro {

}
