/* Set the global styling for all of the app */
html {
  cursor: url(../images/yad_cursor.png), auto;
}

body {
  width: 80%;
  margin: 0 auto;
  padding: 2vh 0;
}

/* Set the styling for the container for the main body of content on each component */
.main-container {
  border-radius: 80px;
  box-shadow: 1px 1px 13px 6px #000ab4;
  min-height: 90vh;
  overflow: scroll;
}

/* Style the logo on the top of the page */
.logo {
  padding-left: 20px;
  filter: drop-shadow(-2px -2px 0px black);
}

/* Styling for main splash area on the main page */

/* Set design for the container div */
.splash-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 60%;
  margin: 0 5px;
}

.body-title {
  color: #000ab4;
  font-family: 'Righteous', cursive;
  font-size: 6em;
  margin-bottom: 0px;
}

.body-intro {
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
  text-shadow: 2px;
  font-size: 2em;
  margin-top: 1px;
  padding-bottom: 30px;
}

.intro-box {
  margin-top: 10px;
  background: url(../images/torah_text.jpg);
  background-size: cover;
  filter: sepia(10%);
  flex: 1;
  padding-bottom: 20px;
}

button.banner-button {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  -webkit-box-shadow: 0px 1px 3px #000ab4;
  -moz-box-shadow: 0px 1px 3px #000ab4;
  box-shadow: 0px 1px 3px #000ab4;
  font-family: Georgia;
  color: #abb400;
  font-size: 36px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button.banner-button a {
  text-decoration: none;
}

/* Features Display Area on Main Page */

.feature-display-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center space-around;
  flex-wrap: nowrap;
  min-width: 60%;
  margin: 50px 5px;
}

.feature-box {
  padding: 50px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #000ab4;

}

/* Feature boxes for other pages */

.feature-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 60%;
  justify-content: space-around;
}

.feature-container p {
}

.feature-about-box {
  display: flex;
  padding: 0 50px;
  margin: 5px;
  border-radius: 5px;
}

.feature-about-box:first-child {
  padding-left: 100px;
}

#feature-text-area {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 50%;
}

#feature-image-area {
  flex: auto;
  display: flex;
  padding-top: 40px;
  width: 30%;
  height: 90%;

}

/* Feature boxes image pairing */

#paired-image-interconnected {
  float: right;
  height: auto;
  background-image: url("http://web.nli.org.il/sites/NLI/Hebrew/library/reading_corner/PublishingImages/daf_gemara/Bomberg%20Babylonian%20Talmud%20Venice%20Pesachim%201520%2035%20V%204087%20c.jpg");
  background-size: contain;
  background-size: 100% 100%;
  min-width: 35vh;
  min-height: 20vh;
  border-radius: 100px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#paired-image-interconnected:hover {
  float: right;
  height: auto;
  background-image: url("http://news.bbcimg.co.uk/news/special/panels/13/nov/talmud/img/graphic_1383310626.jpg");
  background-size: contain;
  background-size: 100% 100%;
  min-width: 35vh;
  min-height: 20vh;
}

/* Global text styling */

#text-align-left {
  text-align: left;
  padding-right: 10px;
}

#opening-sentence {
  color: #000ab4;
  font-family: 'Righteous', cursive;
  font-size: 3em;
  margin-bottom: 0px;
}

#text-body {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.2em;
  color: black;
}


/* media queries */

@media (max-width: 575px) {
  .body-title {
    font-size: 3em;
  }
  .logo {
    margin-left: 20px;
    width: 70%;
    filter: unset;
  }
  .feature-display-container {
    display: none;
  }
  .intro-box {
    margin-bottom: 5px;
  }
  .fix-height #feature-image-area #paired-image-interconnected {
    display: none;
  }
}

@media (max-width: 1024px) {
  .body-title {
    font-size: 4em;
  }
  .logo {
    margin-left: 20px;
    width: 70%;
    filter: unset;
  }
  /* .feature-display-container {
    display: none;
  } */
  .intro-box {
    margin-bottom: 5px;
  }

.body-title {
  font-size: 28px;
  }

  .body-intro {
    font-size: 23px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .feature-display-container {
    display: block;
    margin: 0;
  }

  .fix-height {
    display: block;
    overflow-y: scroll;
    margin: 0;
    height: calc(100vh - 420px);
  }

  .feature-box {
    padding: 0 10px;
  }

  .feature-box > p {
    text-align: center;
  }

  #opening-sentence {
    font-size: 1.4rem !important;
  }

  span#text-body {
    font-size: 1.2rem !important;
  }

  .fix-height .feature-about-box {
    padding: 0;
  }

  .fix-height .feature-display-container .feature-about-box .feature-container {
    display: block;
  }

  .fix-height .feature-about-box #feature-text-area {
    margin: 0;
    width: 100%;
  }

  .fix-height #feature-image-area {
    width: 100%;
  }

  .fix-height #feature-image-area #paired-image-interconnected {
    display: none;
  }
}


@media screen and (min-width: 768px)  and (max-width: 1200px) {
  .fix-height #feature-image-area #paired-image-interconnected {
    height: 280px;
    width: 80%;
    padding-right: 50px;
    max-width: 320px;
  }
}
