/* Set the global styling for all of the app */
html {
  width: 95%;
  margin: auto;
  padding-top: 2vh;
  cursor:url(../images/yad_cursor.png), auto;
}

/* Set the styling for the container for the main body of content on each component */
.main-container {
  border-radius: 80px;
  box-shadow: 1px 1px 13px 6px #000ab4;
  padding-bottom: 2px;
  min-height: 100vh;
}

/* Style the logo on the top of the page */
.logo {
  padding-left: 20px;
  filter: drop-shadow(-2px -2px 0px black);
}

.body-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 60%;
  margin: 0 5px;
}

.body-title {
  color: #000ab4;
  font-family: 'Righteous', cursive;
  font-size: 6em;
  margin-bottom: 0px;
}

.body-intro {
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
  text-shadow: 2px;
  font-size: 2em;
  margin-top: 1px;
  padding-bottom: 30px;
}

.intro-box {
  margin-top: 10px;
  background: url(../images/torah_text.jpg);
  background-size: cover;
  filter: sepia(10%);
  flex: 1;
  padding-bottom: 20px;
}

button.banner-button {
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  -webkit-box-shadow: 0px 1px 3px #000ab4;
  -moz-box-shadow: 0px 1px 3px #000ab4;
  box-shadow: 0px 1px 3px #000ab4;
  font-family: Georgia;
  color: #abb400;
  font-size: 36px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button.banner-button a {
  text-decoration: none;
}
