/* Global styling for navigation bar */

.nav-container {
  height: 46px;
  align-items: center;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 200px 200px 200px 200px;
  background-color: #abb400;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
  padding: 0 50px;
}

.nav-container ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.nav-container a {
  display: flex;
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  cursor:url(../images/yad_cursor.png), auto;
}

.dropdown {

}

.dropdown-content {
  display: none;
    position: absolute;
    background-color: #abb400;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#align-right, #align-left {
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

#align-right {
  align-items: flex-end;
}

#align-left {
  align-items: flex-start;
}

.nav-container li:hover {
  height: 46px;
  background: #000ab4;
  border: 1px solid rgba(238,238,238 ,1);
  text-decoration: underline #abb400;
}
