/* Global styling for navigation bar */

.nav-container {
  height: 46px;
  align-items: center;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 200px 200px 200px 200px;
  background-color: #abb400;
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
  padding: 0 50px;
}

.nav-container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

.nav-container a {
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  cursor:url(../images/yad_cursor.png), auto;
}

#align-right {
  text-align: right;
}

.nav-container li:hover {
  height: 46px;
  background: #000ab4;
  border: 1px solid rgba(238,238,238 ,1);
  text-decoration: underline #abb400;
}

/*@media all and (max-width: 600px) {
  .nav-container ul {
    flex-flow: column wrap;
    padding: 0;
    z-index: 1;
  }
}*/
